TELEGRAM_TOKEN=token-de-telegram

#servidor del bot
WEBHOOK_URL=https://bot.dominio.com

#servidor local de fast api
HOST=0.0.0.0
PORT=8080

#redis
REDIS_URL=rediss://default:contrasenia_de_redis@flight-circle-successful-17948.db.redis.io:19134

#postgresql
DB_URL=postgresql+asyncpg://usuario:contrasenia@RP7@ep-red-pond-atq0jaxa.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require

#IA (GROQ)
GROQ_API_KEY=gsk_contenido
